@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --black: rgba(0, 0, 0, 1);
  --border-color: rgba(247, 247, 247, 1);
  --circle: rgba(245, 245, 245, 1);
  --d-2: rgba(213, 174, 228, 1);
  --d-5: rgba(33, 150, 243, 1);
  --d-6: rgba(76, 175, 80, 1);
  --light-color: rgba(223, 215, 249, 1);
  --text-2: rgba(132, 130, 154, 1);
  --text-clr: rgba(94, 98, 130, 1);
  --text-color: rgba(104, 109, 119, 1);
  --text-heading-color: rgba(30, 29, 76, 1);
  --white: rgba(255, 255, 255, 1);
  --x-1: rgba(138, 121, 223, 1);
  --x-1st: rgba(33, 40, 50, 1);
  --x-2: rgba(65, 82, 202, 1);
  --x-2nd: rgba(98, 70, 229, 1);
  --x-3: rgba(240, 187, 31, 1);
  --x-3rd: rgba(20, 24, 62, 1);
  --x-4: rgba(241, 90, 43, 1);
  --x-5: rgba(0, 99, 128, 1);
  --yellow: rgba(241, 165, 1, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
